    .mibord{
    border: 2px solid rgb(138, 130, 241);
    
    border-radius: 25px;
background-color: #b9fae6;


  }

    body{
      background-color: rgb(253, 253, 241);
    }

  .titlex{
    text-align: center;
    font-weight: bold;
    color: rgb(8, 107, 69);
    font-size: 1.5rem;
   
    }

    .descripc{
      text-align: right;
      font-style: oblique;
      color: white;

    }
    .contentx    {
      background-color: cadetblue;
      border-radius: 1rem;
      padding: 1rem;
      margin: 1rem;

    }
    .resultd{
      background-color: white;
    }
    button{
      background-color: rgb(233, 222, 171);
      border-radius: 0.5rem;
    }

    #abusq{
      text-transform: uppercase;
      width: 20rem;
    }


    .uparchivos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      

    }
    .uparchivos div {
      width: 45%;
      border: 0.2rem;
      border-color:cadetblue;
      border-style:solid;
      padding: 1rem;
    }
  